hummer-spring/src/main/resources/META-INF/hummer.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://code.alibaba-inc.com/schema/hummer"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://code.alibaba-inc.com/schema/hummer">
	
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool"/>
	
	<xsd:complexType name="ServiceType">
		<xsd:attribute name="interface" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The Service interface. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="target" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The target of Service implement. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="version" type="xsd:string" use="optional" default="1.0.0">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The target of Service implement. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		
	</xsd:complexType>
	
	<xsd:complexType name="ReferenceType">
		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The Service interface. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="interface" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The Service interface. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="version" type="xsd:string" use="optional" default="1.0.0">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The target of Service implement. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="timeout" type="xsd:integer" use="optional" default="3000">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The target of Service implement. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="retry" type="xsd:integer" use="optional" default="3">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The target of Service implement. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unit" type="xsd:boolean" use="optional" default="false">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The target of Service implement. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="service" type="ServiceType">
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ Service reference default config ]]></xsd:documentation> 
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="reference" type="ReferenceType">
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ Service reference default config ]]></xsd:documentation> 
		</xsd:annotation>
	</xsd:element>
	
</xsd:schema>